<h3>Product Create</h3>
<form>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input #name type="text" name="name" id="name" class="form-control">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input #price type="text" name="price" id="price" class="form-control">
    </div>
    <div class="mb-3">
        <label for="imageUrl" class="form-label">ImageUrl</label>
        <input #imageUrl type="text" name="imageUrl" id="imageUrl" class="form-control">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea #description name="description" id="description" class="form-control"></textarea>
    </div>
    <div class="form-check mb-3">
        <input #isActive type="checkbox" class="form-check-input" name="isActive" id="isActive">
        <label class="form-check-label" for="isActive">IsActive</label>
    </div>
    <div class="mb-3">
        <label for="categoryId" class="form-label">Category</label>
        <select #categoryId name="categoryId" id="categoryId" class="form-selecet">
            <option value="0" class="form-option">Kategori</option>
            <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
        </select>
    </div>
    <button type="button" class="btn btn-primary" (click)="saveProduct(name,price,imageUrl,description,isActive,categoryId)">Save Product</button>
</form>